<div class="">
  <div class="uk-child-width-expand@  uk-text-center uk-grid uk-margin-medium" *ngFor="let record of records()">
    <div class="uk-card uk-card-default uk-width-1-5@m">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{record.master}}</h3>
            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{record.date.toLocaleString()}}</time></p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <p>{{record.service}}</p>
        <p> {{record.cost}} руб.</p>
      </div>
    </div>
  </div>
</div>

